<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <app-search></app-search> -->

<div *ngIf="!this.account">
    <br>
    <br>
    <h2>You Must Be Logged In to View this Page!</h2>
</div>

<div *ngIf="this.account">

    <div id="name">
        <h2>{{ account.firstname+ ' ' +account.lastname }}</h2>
    </div>

    <div id="info-row" class="clearfix">
        <div *ngIf="this.account.avatar">
            <div id="img-div">
                <img id="avatar" [src]="this.account.avatar" width="500" />
            </div>
        </div>

        <div id="email-div">
            <h3>Email:</h3>
            <p class="description" *ngIf="emailCollapsed">{{ this.email }}</p>
        </div>

        <div id="location-div">
            <h3>Location:</h3>
            <p class="description" *ngIf="locationCollapsed">{{ this.location }}</p>
        </div>

        <div id="phone-div">
            <h3>Phone:</h3>
            <p class="description" *ngIf="phoneCollapsed">{{ this.phone }}</p>
        </div>

        <div id="description-div">
            <h3>Description:</h3>
            <p class="description" *ngIf="descriptionCollapsed">{{ this.description }}</p>
        </div>
    </div>
</div>