<br>
<!-- If no results, display "No results found." -->
<div *ngIf="!items || items.length === 0; else hasResults">
  <h3 style="text-align: center; color: #2d2d2d;">No results found.</h3>
</div>

<!-- Show the results if we have them -->
<ng-template #hasResults>
  <!-- <h3 style="text-align: center; color: #2d2d2d;">Results</h3> -->
  <div *ngFor="let i of items">
    <br />
    <a routerLink="/item" routerLinkActive="active" (click)="setItem(i.id)">
      <app-itemsmall [itemSmall]="i"></app-itemsmall>
    </a>
  </div>
</ng-template>
