<ng-container *ngIf="!registered; else goLogin">
  <img id="logo" src="/assets/GG_Logo.png"/>
  <h2>Register</h2>
  <div id="register">
    <input type="text" placeholder="username" [(ngModel)]="username"/>
    <input type="text" placeholder="password" [(ngModel)]="password"/>
    <input type="text" placeholder="first name" [(ngModel)]="firstname"/>
    <input type="text" placeholder="last name" [(ngModel)]="lastname"/>
    <input type="text" placeholder="phone" [(ngModel)]="phone"/>
    <input type="text" placeholder="email" [(ngModel)]="email"/>
    <select [(ngModel)]="country">
      <option value="" disabled selected>Location</option>
      <option value="US" selected>US</option>
      <option value="UK" selected>UK</option>
      <option value="Argentina" selected>Argentina</option>
      <option value="Australia" selected>Australia</option>
      <option value="Austria" selected>Austria</option>
      <option value="Bahamas" selected>Bahamas</option>
      <option value="Barbados" selected>Barbados</option>
      <option value="Brazil" selected>Brazil</option>
      <option value="Canada" selected>Canada</option>
      <option value="Chile" selected>Chile</option>
      <option value="China" selected>China</option>
      <option value="Colombia" selected>Colombia</option> 
      <option value="Croatia" selected>Croatia</option>
      <option value="Denmark" selected>Denmark</option>      
      <option value="Djibouti" selected>Djibouti</option>
      <option value="Ecuador" selected>Ecuador</option>
      <option value="Egypt" selected>Egypt</option>
      <option value="Estonia" selected>Estonia</option>
      <option value="Fiji" selected>Fiji</option>
      <option value="Finland" selected>Finland</option>
      <option value="France" selected>France</option>
      <option value="Germany" selected>Germany</option>
      <option value="Ghana" selected>Ghana</option>
      <option value="Greece" selected>Greece</option>
      <option value="Guatemala" selected>Guatemala</option>
      <option value="Honduras" selected>Honduras</option>
      <option value="India" selected>India</option>
      <option value="Ireland" selected>Ireland</option>
      <option value="Israel" selected>Israel</option>
      <option value="Italy" selected>Italy</option>
      <option value="Japan" selected>Japan</option>
      <option value="Kenya" selected>Kenya</option>
      <option value="Korea" selected>Korea</option>
      <option value="Kuwait" selected>Kuwait</option>
      <option value="Kyrgyzstan" selected>Kyrgyzstan</option>
      <option value="Laos" selected>Laos</option>
      <option value="Latvia" selected>Latvia</option>
      <option value="Lebanon" selected>Lebanon</option>
      <option value="Libya" selected>Libya</option>
      <option value="Lithuania" selected>Lithuania</option>
      <option value="Luxembourg" selected>Luxembourg</option>
      <option value="Madagascar" selected>Madagascar</option>
      <option value="Malaysia" selected>Malaysia</option>
      <option value="Mexico" selected>Mexico</option>
      <option value="Monaco" selected>Monaco</option>
      <option value="Morocco" selected>Morocco</option>
      <option value="Mozambique" selected>Mozambique</option>
      <option value="Nepal" selected>Nepal</option>
      <option value="Netherlands" selected>Netherlands</option>
      <option value="New Zealand" selected>New Zealand</option>
      <option value="Norway" selected>Norway</option>
      <option value="Oman" selected>Oman</option>
      <option value="Pakistan" selected>Pakistan</option>
      <option value="Panama" selected>Panama</option>
      <option value="Paraguay" selected>Paraguay</option>
      <option value="Peru" selected>Peru</option>
      <option value="Portugal" selected>Portugal</option>
      <option value="Qatar" selected>Qatar</option>
      <option value="Romania" selected>Romania</option>
      <option value="Russia" selected>Russia</option>
      <option value="Saint Lucia" selected>Saint Lucia</option>
      <option value="Saudi Arabia" selected>Saudi Arabia</option>
      <option value="Singapore" selected>Singapore</option>
      <option value="Slovakia" selected>Slovakia</option>
      <option value="Slovenia" selected>Slovenia</option>
      <option value="South Africa" selected>South Africa</option>
      <option value="Spain" selected>Spain</option>
      <option value="Sri Lanka" selected>Sri Lanka</option>
      <option value="Sudan" selected>Sudan</option>
      <option value="Sweden" selected>Sweden</option>
      <option value="Switzerland" selected>Switzerland</option>
      <option value="Tajikistan" selected>Tajikistan</option>
      <option value="Thailand" selected>Thailand</option>
      <option value="Turkey" selected>Turkey</option>
      <option value="Turkmenistan" selected>Turkmenistan</option>
      <option value="Uganda" selected>Uganda</option>
      <option value="Vanuatu" selected>Vanuatu</option>
      <option value="Venezuela" selected>Venezuela</option>
      <option value="Vietnam" selected>Vietnam</option>
      <option value="Yemen" selected>Yemen</option>      
      <option value="Zambia" selected>Zambia</option>    
      <option value="Zimbabwe" selected>Zimbabwe</option>
      <option value="Other" selected>Other</option>
    </select>
    <input id="register-button" type="submit" value="register" (click)="register()" />
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</ng-container>

<ng-template #goLogin>
  <h2>Registration complete! Please Sign in</h2>
</ng-template>