<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@darke-db.cgkmixlhifbl.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">dja</property>
		<property name="hibernate.connection.password">iadp7640</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property> <!--10g-->
		
		<!-- We can some hibernate specific things -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- Backwards compatibility for id generation -->
		<property name="hibernate.id.new_generator_mappings">true</property>
				<!-- SET THIS TO TRUE if we want to use @GeneratedValue  -->
		
		<!-- Mappings -->
		<!-- <mapping class="com.revature.beans.BuyerHistory"/> -->
		<mapping class="com.revature.beans.Account"/>
		<mapping class="com.revature.beans.Item"/>
		<mapping class="com.revature.beans.ItemReview"/>
		
	</session-factory>
</hibernate-configuration>